@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html, body{
    background-color: #edf1f4;
    height: 100%;
    margin: 0;
    overflow: hidden;

    text-size-adjust: 100%;
}

#app, #main{
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.header{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    height: 10%;
    display: flex;
    align-items: center;
    position: fixed;
}

.log-in{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 20px;
}

#main .log-in .error{
    color: var(--color-secondary-orange);
}

.accent-text{
    color: #de4b7a;
    margin-left: 20px;
}

.assess-counter{
    font-size: 80pt;
    margin: 40px;
}

#main .assess .assess-control{
    max-height: 130px;
    height: 130px;
    width: 130px;
    box-shadow: -12px -12px 36px var(--color-tertiary-white), 12px 12px 24px rgb(var(--color-rgb-blue) / 40%), 3px 3px 9px rgb(var(--color-rgb-blue) / 40%), -3px -3px 9px rgb(var(--color-rgb-white) / 25%);
    font-size: 80px;
    background-color: #eaeaea00;
}

#main .assess .assess-send{
    width: 80%;
    font-size: 25pt;
    max-height: 70px;
    height: 70px;
}

.column{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column-list{
    display: flex;
    flex-direction: column;
    height: 0%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align:middle;
    margin: 0;
}

.custom-qui{
    font-size: 18pt !important;
    border-width: 0;
    padding: 20px;
    border-radius: 10px;
    height: 70%;
    width: 100%;
    max-width: 100%;
    box-shadow: -1px -1px 3px rgb(var(--color-rgb-white) / 25%), 1px 1px 3px rgb(var(--color-rgb-blue) / 40%), 4px 4px 8px rgb(var(--color-rgb-blue) / 40%), -4px -4px 12px var(--color-tertiary-white);;
}

textarea.focus-visible{
    outline-width: 0;
}

.title{
    text-align: left;
    background-color: white;
    vertical-align: middle;
    padding-left: 20px;
    line-height: 50px;
    margin: 0;

    font-size: 18pt !important;
    border-width: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    max-width: 100%;
}

.home-page{
    background-color: #e0e0e0;
    height: 100%;
}

.users-list{
    margin: 100px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow:  9px 9px 27px #cccccc,
             -9px -9px 27px #f4f4f4;
}

.user-button{
    height: 50px;
    margin: 0px;
    outline:invert;
    border-radius: 0px;
    border: none;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    background-color: #e0e0e0;
}

.user-button:hover{
    background-color: #de4b7a;
    color: white;
    font-size: 130%;
}

.user-button:active{
    background-color: #e0e0e0;
}

.user-button:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

.user-button:last-of-type{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.score-mean{
    text-align: right;
    justify-content: center;
    padding-right: 20px;
}

.user-name{
    text-align: left;
    justify-content: center;
    padding-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.border{
    border-radius: 10px;
}

.comment{
    background-color: white;
    border-top-style: outset;
    border-width: 1px;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: left;
    font-size: 10pt !important;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.comment-box{
    padding-bottom: 5px;
}

.comments-container{
    justify-content: normal!important;
    margin: 40px;
    
}

.rounded-border{
    border-radius: 10px;
}

.w80{width: 80%;}
.w100{width: 100%;}
.h20{height: 20%;}
.h60{height: 60%;}
.h100{height: 100%}
